*{
   margin: 0;
   padding: 0;
   font-family:'Poppins', sans-serif;
   box-sizing: border-box;
 }
 header{

 width: 100vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 }
.container1{

  
   display: flex;
   justify-content: center;
 
   

 }
 .container2{
  
   height: 100%;
   border: 1px solid black;
   padding: 5vh;

 }

.logo1{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    color: red;
    letter-spacing: 6px;
    animation: zoomIn 3s ease-in-out forwards;
  }
.U{
    color: yellow;
  }
  .N{
    color: blue;
  }
  .D{
    color: blueviolet;

  }
  .O{
    color: chartreuse;
  }

.signin{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: -2vh;
}

#sign{
   font-size: 1.5rem;
   margin-top: 1.2rem;

}
#google{
   margin-top: 1rem;
}
.registerform1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
 .emailaddress{
    padding: 2vh;
 }
 .pass{
    margin-bottom: 3vh;
 }

 #email1{
    width: 350px;
 }
 #password1{
    width: 350px;
    
 }
 .error-message1{
   color: red;
   margin-top: -1vh;
   text-align: center;

 }
 #button1{
    margin-top: 2vh;
    margin-left: 21vh;
    background-color: rgba(0, 0, 255, 0.619);
    color: white;

 }
 .createsign{
   display: flex;
   flex-direction: row;   
 }
 #link1{
    padding-right:260px;
    text-decoration: none;
    
 }
 #link2{
   padding-top: 3vh;
    padding-left: 2.6vh;
    text-decoration: none;   

 }
 #submit1{
   text-align: center;
   color: rgb(118, 195, 2); 
   margin-top:5vh;
 } 

 /* Media query for screens narrower than 420px */
@media screen and (min-width:360px) and (max-width: 768px) {
.container1{
border: none;
}
#email1{
   width: 300px;
}
#password1{
   width: 300px;
}
#link1{
   padding-right:200px;
}
.center{
   margin-top: -50px;
}
}