
.img{
  display: flex;
  flex-direction: row; 
  margin-left: 40vh
  
  
}
#img1{
  height: 60vh;
  margin-top: 15vh;
  margin-left: 20vh;
  
}
.container{
   margin-top: 15vh;
   display: inline-block;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  
}
.logo {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: red;
    text-align: left;
    padding: 20px;
    padding-bottom: 10px;
    letter-spacing: 5px;
    animation: zoomIn 3s ease-in-out forwards;;
  }
  @keyframes zoomIn {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    100% {
      transform: scale(1.2);
      opacity: 1;
    }
  }
  #create{
    text-align: center;
    font-family: 'Roboto', sans-serif;

  }
.U{
    color: rgb(223, 247, 10);
  }
  .N{
    color: blue;
  }
  .D{
    color: blueviolet;

  }
  .O{
    color: chartreuse;
  }
.name{
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding-top: 20px;
}
.firstname{
    margin-right: 10px;
}
.lastname{
    margin-left: 10px;
}
.email{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#email{
    width: 62vh;
}
.pass{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .password{
     margin-right: 10px;
     
 }
 .confirmpass{
     margin-left: 10px;
 }
 .error-message{
  color: red;

  text-align: center;
 }
#button{
    margin-top: 2vh;
    margin-left: 10vh;
}
.buttondiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#link{
    margin-right:10vh;
    padding: 2vh;
    text-decoration: none;
    cursor: pointer;
}
