

.container{
   margin-top: 20vh;
   display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
   
}

.name{
   display: flex;
   flex-direction: row;
   justify-content: center;
}
.firstname{
    margin-right: 10px;
}
.lastname{
    margin-left: 10px;
}
.email{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#email{
    padding-left: 19vh;
    padding-right: 19vh;
}
.pass{
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .password{
     margin-right: 10px;
     margin-bottom: 2vh;
 }
 .confirmpass{
     margin-left: 10px;
 }
