*{
  margin: 0;
  padding: 0;
  font-family:'Poppins', sans-serif;
  box-sizing: border-box;
}
/* 
4 */
.main{
  margin-top: 10vh;
 
   display: flex;
   justify-content: center;
   align-items: center;

}
.imgform{
 
  max-width: 1000px;
  max-height: 600px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem;
}
.leftcontainer{
 flex-basis: 50%;
}
.right{
  flex-basis: 50%;
}
.registerform{

  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: space-between;
  gap: 1rem;
}
.form-container {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem; 
}
#img1{
  width: 100%;
  height: 100%;
  padding: 3rem;
}
.logo {
  width: 0;
  font-family: 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: red;
  letter-spacing: 6px;
  animation: zoomIn 3s ease-in-out forwards;
  ;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
    opacity: 0;
  }

  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}
#create {
  font-family: 'Roboto', sans-serif; 
}

.logo .U {
  color: rgb(223, 247, 10);
}

.logo .N {
  color: blue;
}

.logo .D {
  color: blueviolet;

}
.logo .O {
  color: chartreuse;
}
.firstlast{
  display: flex;
  gap: 0.2rem;
}
.passconfirm{
  display: flex;
  gap: 0.2rem;
}
.error-message {
  color: red;
  text-align: center;
  margin-top: 0.5rem;
  
}
#button {
  margin-top: 2vh;
  margin-left: 10vh;
}
.buttondiv {
  display: flex;
  flex-direction: row;
}

#link3 {
  padding: 2vh;
  text-decoration: none;
  cursor: pointer;
}
#submit {
  margin-top: 1.5rem;
  text-align: center;
  color: rgb(118, 195, 2);
}

@media screen and (max-width: 1190px) {
 
  #firstname,
  #lastname,
  #password,
  #confirmpass {
    width: 100%; 
  }
  #email{
    width: 100%;
  }
  #img1{
width: 100%;
height: 100%;
  }
  .imgform{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
@media screen and (max-width: 550px){
  body {
    margin: 3vw;
  }
  #img1{
    display: none;
  }
  #firstname,
  #lastname,
  #password,
#email,
  #confirmpass {
    width: 55vh;
  }


.firstname, .password{
  margin-bottom: 1vh;
}
  .firstlast, .passconfirm{
    display: flex;
    flex-direction: column;
 
  }
  .imgform{
    border: none;
  }
  .registerform{
    width: 100%;
   
  }
  #passpara{
    width: 80%;
  }
  #create{
    font-size: 1.2rem;
  }
  .container{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
  }
}
@media screen and (max-width: 400px){
  #create {
    font-size: 1rem;
  }
  #passpara{
    width: 80%;
    margin: auto;
  }
  .container{
    width: 80%;
    margin: auto;

  }
  .buttondiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #button{
    margin: auto;
  }
  #link3{
    margin: auto;

  }
  #passpara{
    width: 95%;
  } 

}



